.titulosobre{
    color: #004aad !important;
    font-weight: bold !important;
}

.sobre{
    background-image: url('../../../public/Imagens/imgSobre.png');
    background-repeat: no-repeat; 
    width: 50vh;
    min-height: 100vh; 
    background-size: contain; 
    background-position: center;
}


.icons{
    color: #004aad;
    width: 40px !important;
    height: 40px !important;
    margin: 0px 6px;
}
