.caixa{
    background-color:  #daedfe ;
    
}

.titulo{
    color: #1a0c66!important;
    font-size: 30px;
    align-items: center;

}

.botao{

    border-color: #ffff !important;
    background-color: #a30363;
    color: #ffff !important;
}

.descricao{

    color: #4d498f!important;
    font-size: 10px ;
}

.sobre{
    background-image: url('../../../public/Imagens/imgSobre.png');
    background-repeat: no-repeat; 
    width: 50vh;
    min-height: 100vh; 
    background-size: contain; 
    background-position: center;
}
