.titulosobre{
    color: #0f5e9c !important;
    font-weight: bold !important;
}

.nomessobre{
    color: #2684FF !important;
    font-weight: bold !important;
}

.sobre{
    background-image: url('../../../public/Imagens/imgSobre.png');
    background-repeat: no-repeat; 
    width: 50vh;
    min-height: 100vh; 
    background-size: contain; 
    background-position: center;
}


.icons{
    color: #2684FF;
    width: 50px !important;
    height: 50px !important;
    margin: 0px 6px;
}

.foto{
    width: 330px !important;
    height: 325px !important;
}
