.text-decorator-none{
    text-decoration: none !important;
}

.botaoPost{

    border-color: #ffff !important;
    background-color: #0f5e9c !important;
    color: #ffff !important;
    border-radius: 15px 50px 30px !important;
   align-items: center;
   text-decoration: none !important;
}

.botaoDeletar{

    border-color: #ffff !important;
    background-color: #FF0000 !important;
    color: #ffff !important;
    border-radius: 15px 50px 30px !important;
   align-items: center;
   text-decoration: none !important;
}