.caixa1{
    background-color:  #daedfe ;
    
}

.titulo1{

    color: #1a0c66!important;
    
}

.botao1{

    border-color: #ffff !important;
    background-color: #a30363;
    color: #ffff !important;
}

.sobre3{
    background-color:#ffff;
}

.descricao1{

    color: #4d498f!important;
    font-size: 10px ;
}
