.caixa1{
    background-color:  #daedfe ;
    
}

.titulo1{

    color: #1a0c66!important;
    
}

.botao1{

    border-color: #ffff !important;
    background-color: #1a0c66 !important;
    color: #ffff !important;
}

.sobre3{
    background-color:#ffff;
}

.descricao1{

    color: #4d498f!important;
    font-size: 10px ;
}

.imgInicio{
        background-image: url('../../../public/Imagens/imgInicio.png');
        background-repeat: no-repeat; 
        width: 100vh;
        min-height: 100vh; 
        background-size: cover; 
        background-position: right;
}

.text-decorator-none{
    text-decoration: none;
}