.topo{
    margin-top: 20px;
}

.botaoFinalizar{

    border-color: #ffff !important;
    background-color: #0f5e9c !important;
    color: #ffff !important;
    border-radius: 15px 50px 30px !important;
   align-items: center;
   text-decoration: none !important;
}